body{
    background-color: rgb(174, 174, 174);
    background-position: center;
    background-size: cover;
}
.card-container{
    display: flex;
    flex-direction: row  ;
}
.mycard{
    display: flex;
    flex-direction: row;
  width:15em;
  height: 20em;
  background-color: rgb(255, 255, 255)
}
.card-columns {
    column-count: 4;
}
@media screen and (max-width: 1000px) {
    .card-columns {
        column-count: 2;
    }
  }
  @media screen and (max-width: 770px) {
    .card-columns {
        column-count: 1;
    }
  }

  