.wrapper-back {
  position: relative;
  padding: 3px;
  opacity: 0.8;
  width: 90px;
}
.wrapper-back:hover{
  cursor: pointer;
}
.back-btn {

  position: absolute;
  border-radius: 10px;
  border: 1px solid grey;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('https://wallpaperaccess.com/full/634128.jpg');
  position: relative;
  width: 100%;
  
}
.wrapper-back :hover{
  opacity: 0.9;
}

.back-btn i {
  font-size: 1.5em;
  color:rgb(203, 203, 203);
}