.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  height: 4em;
  position: relative;
  width: 100%;
  opacity: 0.8;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('https://wallpaperaccess.com/full/634128.jpg');
}

.header-title {
  display: flex;
  justify-content: center;
  position: absolute;
  font-size: 2em;
  width: 100%;
  color: aliceblue;
}

.stciky {
  position: fixed;
  width: 100%;
}