.button-more {
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-more button {
  width: 25%;
  height: 80px;
}

.more-text {
  font-size: 2em;
  border: 2px solid #000;
}